<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/app.css"/>
</head>
<body>
    <div>{{ message }}</div>
    <div>
        <span>Enter a number to be converted to words or prepend your number with $ to get a currency converted to words</span>
        <div>
            <input id="value" type="text"><br/>
            <button id="convert">num2word!</button>
        </div>
        <div id="output-div">
            <span id="message">Your number is:</span>
            <div><code id="output"></code></div>
        </div>
    </div>
</body>
<script type="application/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="application/javascript">
    $('#convert').click(function() {
        var input = $('#value').val();
        var path = '/num/';
        var negative = input.indexOf('-') != -1;
        if (input.indexOf('$') != -1) {
            path = '/currency/';
            input = input.substr(1);
        }
        input = input.substr(negative ? 1 : 0);
        $.ajax(path + input).done(function(data) {
            $('#output-div').css('visibility', 'visible');
            $('#output').html((negative ? 'negative ' : '') + data);
        }).fail(function() {
            $('#output-div').css('visibility', 'visible');
            $('#output').html('Something went wrong converting that number');
        });
    });
</script>
</html>